NEXT_PUBLIC_SITE_URL=https://yourdomain.com
NEXT_PUBLIC_CONTACT_EMAIL=hello@yourdomain.com
NEXT_PUBLIC_BOOKING_URL=https://cal.com/your-name
CUSTOM_DOMAIN=yourdomain.com
WWW_DOMAIN=www.yourdomain.com
